
{% extends "layout.html" %}
{% block content %}

 


<div class="w3-container w3-display-container">
 
  
  <div class="w3-card-4 w3-white w3-display-topmiddle" style="width: 50%;">
    <div class="w3-container w3-center w3-green">
     	<h2>Patient Registration</h2>
    	</div>

			<form class="w3-container w3-card-4 w3-light-grey" action="/patient_registration" method="POST">

				  
				  <p> <span class="w3-text-red">* Mandatory</span> </p>

				  <p>
				  <label>Patient SSN ID</label>
				  <input class="w3-input w3-border w3-round" name="ssnid" required="true" type="text"></p>

				   <p>
				  <label>Patient Name</label>
				  <input class="w3-input w3-border w3-round" name="name"  required="true" type="text"></p>
				 
				   <p>
				  <label>Age</label>
				  <input class="w3-input w3-border w3-round" name="age" required="true" max="150" min="1" type="number"></p>

				   <p>
				  <label>Date of Admission</label>
				  <input class="w3-input w3-border w3-round" name="admission" required="true" type="date"></p>

				   <p>
				  <label>Type of bed</label>
				  	<select class="w3-input" name="bed" required="true">
							    <option value="generalward">General ward</option>
							    <option value="semiSharing">semi sharing</option>
							    <option value="singleRoom">single room</option>
							    
  					</select></p>	

				   <p>
				  <label>Address</label>
				  <input class="w3-input w3-border w3-round" name="address" required="true" type="text"></p>

				   <p>
				  <label>State</label>
				  <input class="w3-input w3-border w3-round" name="city" required="true" type="text"></p>

				   <p>
				  <label>City</label>
				  <input class="w3-input w3-border w3-round" name="state" required="true"type="text"></p>

				  <input class="w3-green w3-button w3-round " type="submit" name="submit" value="Create Patient"> 
   	 <br/>	<br/>
   			</form>
   		
 	

  			
 		 </div>

</div>



{% endblock content %}
