 
{% extends "layout.html" %}


{% block content %}

<div class="w3-container w3-tiny">
  <h3 class="w3-center">Pharmacy</h3>

  <table class="w3-table-all w3-hoverable">
    <thead>
      <tr class="w3-green">
        <th>Patiend ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Address</th>
        <th>DOJ</th>
        <th>Type of Room</th>
      </tr>
    </thead>
    	<tr>
        	<td>{{ data1['a'] }}</td>
            <td>{{ data1['a'] }}</td>
             <td>{{ data1['a'] }}</td>
             <td>{{ data1['a'] }}</td>
             <td>{{ data1['a'] }}</td>
             <td>{{ data1['a'] }}</td>
        </tr>
 </table>
</div>

<div class="w3-container w3-tiny">
  <h3 class="w3-center">Medicine Issued <span><a href="/issue_medicine?ssnid={{ data['a'] }}"> <button class="w3-green w3-small w3-button">ADD MORE </button> </a>
</span></h3>
  <table class="w3-table-all w3-hoverable">
    <thead>
      <tr class="w3-green">
        
        <th>Medicine</th>
        <th>Quantity</th>
        <th>Rate</th>
        <th>Amount</th>
        
      </tr>
    </thead>
      {% for data in data2 %}
              
              <tr>
                                       
                 
                  <td>{{ data['a'] }}</td>
                  <td>{{ data['a'] }}</td>
                  <td>{{ data['a'] }}</td>
                  <td>{{ data['a'] }}</td>

              </tr>

      {% endfor %}
 </table>
</div>

<div class="w3-container w3-tiny">
  <h3 class="w3-center">Medicine available</h3>

  <table class="w3-table-all w3-hoverable">
    <thead>
      <tr class="w3-green">
        <th>Medicine</th>
        <th>Quantity</th>
        <th>Rate</th>
        <th>Amount</th>
      </tr>
    </thead>
      {% for data in data3 %}
              
              <tr>
                                       
                  
                  <td>{{ data['a'] }}</td>
                  <td>{{ data['a'] }}</td>
                  <td>{{ data['a'] }}</td>
                  <td>{{ data['a'] }}</td>

              </tr>

      {% endfor %}
 </table>
</div>



{% endblock content %}
