 
{% extends "layout.html" %}


{% block content %}


  {% if flag %} 

<div class="w3-container w3-tiny">
  <h3 class="w3-center">Diagnostic</h3>

  <table class="w3-table-all w3-hoverable">
    <thead>
      <tr class="w3-green">
        <th>Patiend ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Address</th>
        <th>DOJ</th>
        <th>Type of Room</th>
      </tr>
    </thead>
      <tr>
          <td>{{ data1['ssnid'] }}</td>
            <td>{{ data1['name'] }}</td>
             <td>{{ data1['age'] }}</td>
             <td>{{ data1['address'] }}</td>
             <td>{{ data1['admission_date'] }}</td>
             <td>{{ data1['bed'] }}</td>
        </tr>
 </table>
</div>

<div class="w3-container w3-tiny">
  <h3 class="w3-center">Diagnostic conducted <span><a href="/add_diagnostic?ssnid={{ data1['ssnid'] }}"> <button class="w3-green w3-small w3-button">ADD MORE </button> </a>
</span></h3>
  <table class="w3-table-all w3-hoverable">
    <thead>
      <tr class="w3-green">
        
        <th>Diagnostic</th>
        <th>Amount</th>
        
      </tr>
    </thead>
      {% for data in data2 %}
              
              <tr>
                                       
                 
                  <td>{{ data['dname'] }}</td>
                  <td>{{ data['amount'] }}</td>
            

              </tr>

      {% endfor %}
 </table>
</div>

<div class="w3-container w3-tiny">
  <h3 class="w3-center">Diagnostic available</h3>

  <table class="w3-table-all w3-hoverable">
    <thead>
      <tr class="w3-green">
        <th>Diagnostic</th>
        <th>Amount</th>
      </tr>
    </thead>
      {% for data in data3 %}
              
              <tr>
                                       
                  
                  <td>{{ data['dname'] }}</td>
                  <td>{{ data['amount'] }}</td>
            

              </tr>

      {% endfor %}
 </table>
</div>

{% else %}
<div class="w3-container w3-display-container">
  <div class="w3-card-4 w3-white w3-display-topmiddle" style="width: 50%;">
      <div class="w3-container w3-center w3-green">
        <h2>Find Patient</h2>
      </div>
      <form class="w3-container w3-card-4 w3-light-grey"  action="/get_patient_diagnostics_details" method="POST">
              <input class="w3-input w3-border w3-round" type="text" placeholder="Search ssnid" name="ssnid" >
              <input class="w3-green w3-button w3-round" type="submit" value="Search">
       </form>
  </div>
</div>
{% endif %}

{% endblock content %}
