{% extends "layout.html" %}
{% block content %}

<div class="w3-center">

	<h1 class="w3-wide"> Welcome to OCT  Hospital Management System</h1>

</div>
    

<div class="w3-container w3-center ">
        
	<img src="{{ url_for('static', filename='images/hospital.jpeg') }}" class="w3-round" style="width: 30%; height: 50%;" alt="Corona">
	

</div>

<br/>


<br/>
<div class="w3-container w3-center ">
        
	<img src="{{ url_for('static', filename='images/1.jpeg') }}" class="w3-circle" style="width: 10%;" alt="Person">
	<img src="{{ url_for('static', filename='images/2.jpg') }}" class="w3-circle" style="width: 10%;" alt="Person">
	<img src="{{ url_for('static', filename='images/3.jpeg') }}" class="w3-circle" style="width: 10%;" alt="Person">
	<img src="{{ url_for('static', filename='images/4.jpeg') }}" class="w3-circle" style="width: 10%;" alt="Person">

	<h3>--- Developers ---</h3>


</div>
    


          
{% endblock content %}