
{% extends "layout.html" %}
{% block content %}


 

<div class="w3-container w3-display-container">
 
  
  <div class="w3-card-4 w3-white w3-display-topmiddle" style="width: 50%;">
    <div class="w3-container w3-center w3-green">
     	<h2>Update Patient Details</h2>
    	</div>
    				<form class="w3-container w3-card-4 w3-light-grey"  action="/pre_update_patient" method="POST">
    					<input class="w3-input w3-border w3-round" type="text" placeholder="Search ssnid" name="ssnid" >
    					<input class="w3-green w3-button w3-round" type="submit" value="Search">
    				</form>

    	{% if flag %}			
			<form class="w3-container w3-card-4 w3-light-grey" action="/update_patient" method="POST">
 
				  
				  <p> <span class="w3-text-red">* Mandatory</span> </p>

				  <p>
				  <label>Patient SSN ID</label>
				  <input class="w3-input w3-border w3-round" name="ssnid"  value="{{ data['ssnid'] }}" required="true" type="text"></p>

				   <p>
				  <label>Patient Name</label>
				  <input class="w3-input w3-border w3-round" name="name" value="{{ data['name'] }}" required="true" type="text"></p>
				 
				   <p>
				  <label>Age</label>
				  <input class="w3-input w3-border w3-round" name="age" value="{{ data['age'] }}" required="true" max="150" min="1" type="number"></p>

				   <p>
				  <label>Date of Admission</label>
				  <input class="w3-input w3-border w3-round" name="admission" value="{{ data['admission_date'] }}"  type="text"></p>

				   <p>
				  <label>Type of bed room</label>
				  	<select class="w3-input" name="bed" required="true" value="singleRoom">
							    <option value="General" {% if data['bed'] == 'generalWard' %} selected="True" {% endif %} >General</option>
							    <option value="Semi" {% if data['bed'] == 'semiSharing' %} selected="True" {% endif %} >Semi</option>
							    <option value="Single" {% if data['bed'] == 'singleRoom' %} selected="True" {% endif %} >Single</option>
							    
  					</select></p>	

				   <p>
				  <label>Address</label>
				  <input class="w3-input w3-border w3-round" name="address" value="{{ data['address'] }}" required="true" type="text"></p>

				   <p>
				  <label>State</label>
				  <input class="w3-input w3-border w3-round" name="state" value="{{ data['city'] }}" required="true" type="text"></p>

				   <p>
				  <label>City</label>
				  <input class="w3-input w3-border w3-round" name="city" value="{{ data['state'] }}" required="true"type="text"></p>

				  <input class="w3-green w3-button w3-round " type="submit"  name="submit" value="Update Patient"> 
   	 <br/>	<br/>
   			</form>
   		
 	
{% endif %}
  			
 		 </div>

</div>



{% endblock content %}