
{% extends "layout.html" %}


{% block content %}

<div class="w3-container">
  <h1 class="w3-center">View Patients</h1>

  <table class="w3-table-all w3-hoverable">
    <thead>
      <tr class="w3-green">
        <th>Patiend ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Address</th>
        <th>DOJ</th>
        <th>Type of Room</th>
      </tr>
    </thead>

       {% for d in data %}
              
              <tr>
                                       
                  <td>{{ d[''] }}</td>
                  <td>{{ d[''] }}</td>
                  <td>{{ d[''] }}</td>
                  <td>{{ d[''] }}</td>
                  <td>{{ d[''] }}</td>
                  <td>{{ d[''] }}</td>

              </tr>

      {% endfor %}
  
  </table>
</div>

{% endblock content %}
